**/redis*
**/.eslintrc.js
**/babel.config.js
**/package-lock.json
**/package.json
!/unittests_in_js/package.json
!/unittests_in_js/8-api/package.json
!/unittests_in_js/9-api/package.json
!/unittests_in_js/10-api/package.json
**/node_modules/
**/**/node_modules/

nodesource_setup.sh
